<div *ngIf="selectedTag != null">
  <div *ngIf="selectedTag.name != null" class="mother2">
    <div *ngIf="activeToDoService.isEditing;then active else inactive"></div>
    <ng-template #inactive>
      <div (click)="activeToDoService.toggleActive()" class="active-tag">
        <h2>
          {{selectedTag.name}}
        </h2>
      </div>

    </ng-template>
    <ng-template #active>
      <div class="active-tag">
        <h2>
          {{selectedTag.name}}
        </h2>

        <input [(ngModel)]="activeToDoService.newTagName">
        <input
          (click)="todoService.changeTagName({id: selectedTag.id, name: activeToDoService.newTagName}); activeToDoService.toggleActive();"
          type="button"
          value="zmień tag">
      </div>
    </ng-template>
    <div *ngFor="let todo of todoService.todos">
      <div *ngIf="todo.tagName === selectedTag.name && todo.isDone == false">
        <div *ngIf="todo.isEditing; then editingTodo else readOnlyTodo"></div>
        <ng-template #readOnlyTodo>
          <div (click)="onStartEditing(todo)" class="zadanie">
            <div class="done">
              <button (click)="todoService.finishTodo(todo)" class="function-block-done">
                &#10004;
              </button>
            </div>
            <div class="postionCenter">
              <h3>
                {{todo.name}}
              </h3>
            </div>
            <div class="postionCenter">
              <textarea class="poleOpisu" value="{{todo.description}}"></textarea>
            </div>

          </div>
        </ng-template>
        <ng-template #editingTodo>
          <div class="zadanie">
            <div class="done">
              <button (click)="todoService.finishTodo(todo)"
                      class="function-block-done">&#10004;
              </button>
            </div>
            <div>
              <input [(ngModel)]="editingName">
            </div>
            <div>
              <textarea [(ngModel)]="editingDescription" class="poleOpisu"></textarea>
            </div>
            <input (click)="onAccept(todo)" class="postionCenter" type="button"
                   value="Accept">
          </div>
        </ng-template>
      </div>
    </div>
    <div class="add-zad">

      <div>
        <input [(ngModel)]="newTodoName" placeholder="Dodaj nowe zadanie" class="add-input">
        <button (click)="todoService.addTodo(selectedTag.name, newTodoName); newTodoName = ''"
                class="add-button"
                type="button">
          Add
        </button>
      </div>
    </div>
  </div>
</div>
