<div class="list-tag">
  <div class="add-tag">
    <button (click)="isAdding = !isAdding" class="function-block-done">+</button>
  </div>
  <div *ngIf="isAdding">
    <div class="add-tag">
      <input [(ngModel)]="editingTagName" class="add-tag-size">
      <button (click)="addTag()" class="add-tag-size function-block-done">Add</button>
    </div>
  </div>

  <!-- wypisywanie tablicy -->
  <div (click)="onTagSelected.emit(tag)" *ngFor="let tag of tags" [id]="tag.id" class="mainTag">
    <div class="block">
      <div class="delete-tag">
        <button class="function-block-delete">&#10006;</button>
      </div>
      <div class="mainTag-block">
        <h2 class="name-block">{{tag.name}}</h2>
      </div>
    </div>
    <div class="licznik">liczba zadań : {{todoService.countActiveTodosByTagName(tag.name)}}</div>
  </div>

  <!-- on focus -->

</div>
