
.mother {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding-top: 30px;

}

.tagComponent {
  display: flex;
  justify-content: left;
  flex-direction: column;
  border-radius: 5px;
  width: 100%;
  padding-right: 20px;
}

.tagComponent-container {
  display: flex;
  justify-content: left;
  flex-direction: row;
  margin: 10px;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
}

.tagComponent-container:hover {
  background-color: #f3f4f6;
  padding-right: 10px;
  border-radius: 0px;
}

.addTag {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}

.tagComponent-container__connector {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tagComponent-container__connector h2 {
  margin: 0;
}

.tagComponent-container__register {
  display: flex;
  justify-content: left;
  font-size: 1rem;
  margin-left: 10px;
  color: #1f2937;
}

.tagComponent-container__text {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  color: #1e3a8a;
  text-transform: capitalize;
}


.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 25%;
  background-color: #eff6ff;
}

.modal-container__title {
  margin: 25px;
}

.modal-container__buttons {
  width: 45px;
  margin: 45px;
}

.selectFiltr {
  display: flex;
  justify-content: center;

}

.selectFiltr-option {
  border: 2px solid #1d4ed8;
  color: #1e3a8a;
  width: 70%;
  text-align: center;
  padding: 5px;
  cursor: pointer;
}

.button {
  transition-duration: 0.5s;
  background-color: #f3f4f6;
  color: #1e3a8a;
  border: 2px solid #1d4ed8;
  height: 40px;
  padding: 10px;
}

.button:hover {
  background-color: #2563eb;
  color: #dbeafe;
}

.modal-container__buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.input {
  padding-left: 10px;
  border: 2px solid #1d4ed8;
  border-right: 0px;
  color: #1f2937;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.5s;
  background-color: #2563eb;
  height: 30px;
  width: 60px;
  color: #eff6ff;
  border: none;
  text-align: center;

}

.button:hover {
  background-color: #1e40af;
  cursor: pointer;
}
